@model WEB_APP_PrototipoGestionPAP.Models.ViewModels.CatalogViewModel<WEB_APP_PrototipoGestionPAP.Models.Personas>

@if (Model.CanWrite)
{
    <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="@Url.Action(Model.AddActionName, Model.ControllerName)" method="post" id="formAgregar">
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarModalLabel">Agregar Nueva @Model.Title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="txtCedula" class="form-label">Cédula</label>
                            <input type="text" class="form-control" id="txtCedula" name="Cedula" placeholder="Ingrese 10 dígitos"
                                   required
                                   pattern="^\d{10}$" />
                            <div class="invalid-feedback">
                                Por favor ingrese una cedula valida.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" name="Nombre" required />
                            <div class="invalid-feedback">Campo requerido.</div>
                        </div>
                        <div class="mb-3">
                            <label for="txtApellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="txtApellido" name="Apellido" required />
                            <div class="invalid-feedback">Campo requerido.</div>
                        </div>
                        <div class="mb-3">
                            <label for="txtCorreoElectronico" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="txtCorreoElectronico" name="CorreoElectronico" required />
                            <div class="invalid-feedback">Campo requerido.</div>
                        </div>
                        <div class="mb-3">
                            <label for="txtTelefonoAdd" class="form-label">Teléfono</label>
                            <input type="tel"
                                   class="form-control"
                                   id="txtTelefonoAdd"
                                   name="Telefono"
                                   placeholder="Ingrese 10 dígitos"
                                   required
                                   pattern="^\d{10}$"
                                   title="El teléfono debe contener 10 dígitos." />
                            <div class="invalid-feedback">
                                Por favor ingrese un número de teléfono válido de 10 dígitos.
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" id="btnGuardarAgregar" disabled>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
